<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <!--放行/login.html请求-->
    <http pattern="/login.html" security="none"></http>
    <!--2.认证-->

    <http use-expressions="false" auto-config="true">
        <intercept-url pattern="/**" access="ROLE_ADMIN"></intercept-url>
        <!--设置自定义表单登录-->
        <form-login login-page="/login.html"
                    login-processing-url="/login"
                    default-target-url="/index.jsp"
                    always-use-default-target="true"
                    authentication-failure-url="/login.html"

        />
        <!--csrf 禁用-->
        <csrf disabled="true"></csrf>
    </http>

    <!--1.授权-->

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"></user>
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>