<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinyougou.mapper.TbAnalysePVMapper" >
    <resultMap id="BaseResultMap" type="com.pinyougou.pojo.TbAnalysePV" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="int" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
        <result column="num" property="num" jdbcType="BIGINT" />
    </resultMap>
</mapper>