<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置dubbo的配置顶-->
    <dubbo:application name="pinyougou-search"></dubbo:application>

    <!--注册中心-->
    <dubbo:registry protocol="zookeeper" address="192.168.25.133" port="2181"></dubbo:registry>

    <!--暴露服务端口-->
    <dubbo:protocol name="dubbo" port="20882"></dubbo:protocol>

    <dubbo:annotation package="com.pinyougou.search.service"></dubbo:annotation>

    <dubbo:provider timeout="100000"></dubbo:provider>

    <import resource="applicationContext_es.xml"></import>
    <import resource="applicationContext_redis.xml"></import>
    <import resource="applicationContext_consumer.xml"></import>

</beans>